kestra/flows/monthly_vic_vehicle_ingest_v2.yml
id: monthly_vic_vehicle_ingest_v2
namespace: zoomcamp.vic

variables:
  bucket: "dtc-de-course-capstone-2026-vic-vehicle-lake"
  dataset_page: "https://opendata.transport.vic.gov.au/dataset/monthly-new-vehicle-registration"

triggers:
  - id: monthly_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 6 5 * *"

tasks:
  - id: fetch_dataset_page
    type: io.kestra.plugin.core.http.Request
    uri: "{{ vars.dataset_page }}"
    method: GET

  - id: extract_latest_download_url
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    inputFiles:
      page.html: "{{ outputs.fetch_dataset_page.body }}"
    outputFiles:
      - latest_url.txt
      - target_name.txt
    script: |
      import re
      from pathlib import Path

      html = Path("page.html").read_text()

      matches = re.findall(
          r'https://opendata\.transport\.vic\.gov\.au/dataset/[^"\']+/resource/[^"\']+/download/[^"\']+\.csv',
          html,
          flags=re.IGNORECASE
      )

      monthly = [m for m in matches if "monthly_new_vehicle_registration" in m.lower()]

      if not monthly:
          raise Exception("No monthly CSV download URL found on dataset page")

      month_map = {
          "january": 1, "february": 2, "march": 3, "april": 4,
          "may": 5, "june": 6, "july": 7, "august": 8,
          "september": 9, "october": 10, "november": 11, "december": 12
      }

      dated = []
      for url in monthly:
          filename = url.split("/")[-1].lower()
          m = re.search(
              r'monthly_new_vehicle_registration_([a-z]+)_(\d{4})\.csv',
              filename
          )
          if m and m.group(1) in month_map:
              dated.append(((int(m.group(2)), month_map[m.group(1)]), url))

      if not dated:
          raise Exception("Could not parse month/year from monthly CSV filenames")

      latest_url = max(dated, key=lambda x: x[0])[1]
      filename = latest_url.split("/")[-1]

      Path("latest_url.txt").write_text(latest_url)
      Path("target_name.txt").write_text(filename)

  - id: download_latest_csv
    type: io.kestra.plugin.core.http.Download
    uri: "{{ read(outputs.extract_latest_download_url.outputFiles['latest_url.txt']) | trim }}"

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.download_latest_csv.uri }}"
    to: "gs://{{ vars.bucket }}/raw/monthly_new_vehicle_registration/{{ read(outputs.extract_latest_download_url.outputFiles['target_name.txt']) | trim }}"