kestra/flows/maintainence/monthly_vic_vehicle_ingest_scheduled.yml
id: monthly_vic_vehicle_ingest_scheduled
namespace: zoomcamp.vic

description: |
  Orchestrates the monthly ingestion of Victoria vehicle registration data by
  discovering the latest available CSV from the Transport Victoria open data
  portal, downloading it, and landing it in the GCS raw zone.

  Workflow behavior:
    - Fetches the dataset page for monthly new vehicle registrations
    - Extracts all valid monthly CSV download links from the page HTML
    - Parses month and year from each filename to identify the newest file
    - Downloads the latest CSV
    - Uploads it to:
        gs://dtc-de-course-capstone-2026-vic-vehicle-lake/raw/monthly_new_vehicle_registration/

  This workflow serves as the scheduled monthly entry point for the Victoria
  vehicle data pipeline, ensuring the most recent public dataset is reliably
  delivered to the raw zone for downstream processing.


variables:
  bucket: "dtc-de-course-capstone-2026-vic-vehicle-lake"
  dataset_page: "https://opendata.transport.vic.gov.au/dataset/monthly-new-vehicle-registration"

triggers:
  - id: monthly_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 6 5 * *"

tasks:
  - id: fetch_dataset_page
    type: io.kestra.plugin.core.http.Request
    uri: "{{ vars.dataset_page }}"
    method: GET

  - id: extract_latest_download_url
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    inputFiles:
      page.html: "{{ outputs.fetch_dataset_page.body }}"
    outputFiles:
      - latest_url.txt
      - target_name.txt
    script: |
      import re
      from pathlib import Path

      html = Path("page.html").read_text()

      matches = re.findall(
          r'https://opendata\.transport\.vic\.gov\.au/dataset/[^"\']+/resource/[^"\']+/download/[^"\']+\.csv',
          html,
          flags=re.IGNORECASE
      )

      monthly = [m for m in matches if "monthly_new_vehicle_registration" in m.lower()]

      if not monthly:
          raise Exception("No monthly CSV download URL found on dataset page")

      month_map = {
          "january": 1, "february": 2, "march": 3, "april": 4,
          "may": 5, "june": 6, "july": 7, "august": 8,
          "september": 9, "october": 10, "november": 11, "december": 12
      }

      dated = []
      for url in monthly:
          filename = url.split("/")[-1].lower()
          m = re.search(
              r'monthly_new_vehicle_registration_([a-z]+)_(\d{4})\.csv',
              filename
          )
          if m and m.group(1) in month_map:
              dated.append(((int(m.group(2)), month_map[m.group(1)]), url))

      if not dated:
          raise Exception("Could not parse month/year from monthly CSV filenames")

      latest_url = max(dated, key=lambda x: x[0])[1]
      filename = latest_url.split("/")[-1]

      Path("latest_url.txt").write_text(latest_url)
      Path("target_name.txt").write_text(filename)

  - id: download_latest_csv
    type: io.kestra.plugin.core.http.Download
    uri: "{{ read(outputs.extract_latest_download_url.outputFiles['latest_url.txt']) | trim }}"

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.download_latest_csv.uri }}"
    to: "gs://{{ vars.bucket }}/raw/monthly_new_vehicle_registration/{{ read(outputs.extract_latest_download_url.outputFiles['target_name.txt']) | trim }}"